# Clase 1 - Ejercicios - Introducción a Python

## Ejercicio 1: Operaciones básicas y variables

### Descripción

Una tienda vende tres tipos de artículos:
- Camisetas: $250 cada una
- Pantalones: $450 cada una
- Zapatillas: $800 cada una

### Tareas

Calcula el total de una compra que incluye:
- 2 camisetas
- 1 pantalón
- 1 par de zapatillas

**Imprimí:**
- El costo de cada artículo por separado
- El total de la compra

In [4]:
# Solución
Camisetas=250
Pantalon=450
Zaptillas = 800
Total = (Camisetas*2)+Pantalon+Zaptillas
print (Total)

1750

## Ejercicio 2: Comparaciones y booleanos

### Descripción

Tres estudiantes tienen las siguientes notas:
- Juan: 7.5
- María: 9.2
- Carlos: 6.8

Para aprobar el curso se necesita una nota de 7.0 o superior.

### Tareas

Determina quién aprobó usando comparaciones.

**Imprimí:**
- El nombre de cada estudiante junto con "Aprobó" o "No aprobó"

In [27]:
juan=7.5
maria=9.2
carlos=6.8
aprobado=7
if juan >= aprobado:
  print ("Juan aprobó")
else:
  print ("Juan no aprobó")
if maria >= aprobado:
  print ("Maria aprobó")
else:
  print ("Maria no aprobó")
if carlos >= aprobado:
  print ("Carlos aprobó")
else:
  print ("Carlos no aprobó")

Juan aprobó
Maria aprobó
Carlos no aprobó

## Ejercicio 3: Operaciones con cadenas de caracteres

### Descripción

Tu nombre completo es: `"Juan Alberto López Pérez"`

### Tareas

Realiza las siguientes operaciones:

1. Imprimí el nombre en **minúsculas**
2. Imprimí el nombre en **mayúsculas**
3. **Contá** cuántas letras tiene tu nombre (sin contar espacios)
4. **Extraé** solo el primer nombre usando slicing
5. **Verificá** si la palabra "Alberto" está en tu nombre

In [45]:
#1
nombre= "Juan Alberto Lopez Perez"
print ("Nombre en minisculas:", nombre.lower())
#2
print ("Nombre en MAYUSCULA:", nombre.upper())
#3
nombre_sin_espacio = len(nombre.replace(" ", ""))
print ("El nombre tiene", nombre_sin_espacio, "letras")
#4
if "Alberto" in nombre:
  print ("Alberto esta en el nombre")
else:
  print ("Alberto no esta en el nombre")

Nombre en minisculas: juan alberto lopez perez
Nombre en MAYUSCULA: JUAN ALBERTO LOPEZ PEREZ
El nombre tiene 21 letras
Alberto esta en el nombre

## Ejercicio 4: Listas y búsqueda

### Descripción

Tienes la siguiente lista de frutas:
```python
['manzana', 'plátano', 'naranja', 'uva', 'sandía']
```

### Tareas

Realiza las siguientes operaciones:

1. **Imprimí** la lista original
2. **Agregá** 'fresa' al final
3. **Insertá** 'piña' en la posición 2
4. **Encontra** la posición de 'naranja'
5. **Verificá** si 'melón' está en la lista
6. **Imprimí** la lista ordenada alfabéticamente

In [82]:
#1
lista = ['manzana', 'platano', 'naranja', 'uva', 'sandia']
print (lista)
#2
lista.append("fresa")
print (lista)
#3
lista.insert(1, "piña")
print(lista)
#4
naranja=lista.index("naranja")
print("la posicion de la narnaja es", naranja)
#5
if "melon" in lista:
  print("el melon esta en en la lista")
else:
  print("el melon no está en la lista")
#6
print(sorted(lista))

['manzana', 'platano', 'naranja', 'uva', 'sandia']
['manzana', 'platano', 'naranja', 'uva', 'sandia', 'fresa']
['manzana', 'piña', 'platano', 'naranja', 'uva', 'sandia', 'fresa']
la posicion de la narnaja es 3
el melon no está en la lista
['fresa', 'manzana', 'naranja', 'piña', 'platano', 'sandia', 'uva']

## Ejercicio 5: Bucle while simple

### Descripción

Escribe un programa que cuente desde 1 hasta 10 usando un bucle `while`.

### Tareas

Para cada número, imprimí:
- El número
- Su cuadrado
- Su cubo

### Resultado esperado

```
1 - Cuadrado: 1 - Cubo: 1
2 - Cuadrado: 4 - Cubo: 8
3 - Cuadrado: 9 - Cubo: 27
4 - Cuadrado: 16 - Cubo: 64
5 - Cuadrado: 25 - Cubo: 125
...
10 - Cuadrado: 100 - Cubo: 1000
```

In [96]:
# Inicializamos el contador
numero = 1
# Bucle while que cuenta desde 1 hasta 10
while numero <= 10:
  cuadrado=numero**2
  cubo=numero**3
  print(f"{numero} - Cuadrado: {cuadrado} - Cubo: {cubo}")
  numero += 1

1 - Cuadrado: 1 - Cubo: 1
2 - Cuadrado: 4 - Cubo: 8
3 - Cuadrado: 9 - Cubo: 27
4 - Cuadrado: 16 - Cubo: 64
5 - Cuadrado: 25 - Cubo: 125
6 - Cuadrado: 36 - Cubo: 216
7 - Cuadrado: 49 - Cubo: 343
8 - Cuadrado: 64 - Cubo: 512
9 - Cuadrado: 81 - Cubo: 729
10 - Cuadrado: 100 - Cubo: 1000

## Notas importantes

- Recorda que en Python los índices comienzan en 0
- Los espacios en blanco (indentación) son importantes en los bucles
- Podes usar la función `len()` para obtener la longitud de una cadena o lista
- Usa `print()` para mostrar los resultados